logo{
    
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif !important;
    background-color: #F3E0DC !important;
}

.row{
    margin: auto;
}

#total-orders, #orders-delivered, #orders-pending{
    background-color: #D4A59A;
}

#delivered{
    color: green;
}

#no-region{
    color: #BC4639;
}

/* Info buttons */
.btn-info{
    background-color: #4285F4 !important;
}

/* Red buttons */
.btn-danger{
    background-color: #BC4639 !important;
}

/* Navigation bar */
.bg-dark{
    background-color: #5C2018 !important;
}

.card{
    border-radius: 0 !important;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    border-radius: 50%
}