<!-- Customer's detail page -->

<!-- Inherit structure from main template -->
{%  extends 'accounts/main.html' %}

{% block content %}

<br>

<!-- One row with three cards -->
<div class="row">

    <!-- card: update and delete -->
	<div class="col-md">
		<div class="card card-body">
			<h3>{{ customer.name }}</h3>
			<hr>
			<a class="btn btn-outline-info btn-sm btn-block" href="">Update Customer</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete Customer</a>
		</div>
	</div>

    <!-- card: contact information -->
	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p><b>Email:</b> {{ customer.email }}</p>
			<p><b>Phone:</b> {{ customer.phone }}</p>
			<p><b>Address:</b> {{ customer.address }}</p>
		</div>
	</div>

    <!-- card: Total orders -->
	<div class="col-md">
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{ customer_total_orders }}</h1>
		</div>
	</div>
</div>

<br>

<!-- Search bar -->
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

				<!-- Filter template tag -->
				{{ myFilter.form }}

				<!-- Search button --> 
		    	<button class="btn btn-primary" type="submit">Search</button>

		  </form>
		</div>
	</div>
	
</div>
<br>

<!-- Orders table -->
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Notes</th>
					<th>Date Ordered</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				<!-- Template tag -->
				{% for order in orders %}
				<tr>
					<td>{{ order.product.name }}</td>
					<td>{{ order.notes }}</td>
					<td>{{ order.date_created }}</td>
					<td>{{ order.status }}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
					<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}