<!-- Home page: dashboard -->

<!-- Inherits structure from main template -->
{% extends 'accounts/main.html' %}

{% block content %}

<!-- Status row -->
{% include 'accounts/status.html' %}

<br>

<!-- A row -->
<div class="row">
    <!-- A column of 5 cells -->
	<div class="col-md-5">
		<h5>CUSTOMERS:</h5>
		<hr>
        <!-- Bootstrap's "card styling" -->
		<div class="card card-body">
			<!-- A button -->
			<a class="btn btn-primary btn-sm btn-block" href="">Create Customer</a>
			<table class="table table-sm">
				<tr>
					<!-- Headers -->
					<th></th>					<!-- just spacing -->
					<th>Customer</th>
					<th>Phone</th>
					
					<!-- Dynamic tag loading from the customers dictionary passed by the view -->
					{% for customer in customers %}
					<tr>
						<!-- href to the customer url, referencing to the customer id -->
						<td><a href="{% url 'customer' customer.id %}" class="btn btn-sm btn-info">View</a></td>
						<td>{{ customer.name }}</td>
						<td>{{ customer.phone }}</td>
					</tr>
					{% endfor %}

				</tr>

			</table>
		</div>
	</div>

    <!-- A column of 7 cells -->
	<div class="col-md-7">
		<h5>LAST 5 ORDERS</h5>
		<hr>
		<div class="card card-body">

			<!-- To create an order from the dashboard -->
			<!-- <a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_order' %}">Create Order</a> -->
			
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>

					<!-- Template tag -->
					{% for order in orders %}
						<tr>
							<td>{{ order.product }}</td>
							<td>{{ order.date_created}}</td>
							<td>{{ order.status}}</td>
							<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
							<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>
						</tr>
					{% endfor %}

				</tr>
			</table>
		</div>
	</div>

</div>

{% endblock %}
