<!-- Main html template -->

<!-- Tags -->
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>CRM</title>

    <!-- Bootstrap CSS template -->
    <!-- https://getbootstrap.com/docs/4.0/getting-started/introduction/#css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Import the main CSS file in the static files folder -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">

</head>

<body>

    <!-- Navigation bar -->
    {% include 'accounts/navbar.html' %}

    <!-- Content block used by Django -->
    {% block content %}
    {% endblock %}

    <hr>
    <h5>Footer</h5>

</body>

<!-- Bootstrap JS template -->
<!-- https://getbootstrap.com/docs/4.0/getting-started/introduction/#js -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<!-- Charts -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
<!-- Last version of Chart.js, but it's resizing all charts -->

<!-- Pie chart -->
<script>

    // Setup
    const data = {
        labels: {{ pie_chart_labels| safe }},
    datasets: [{
        data: {{ pie_chart_data| safe }},
        backgroundColor: [
        'rgb(0, 204, 0)',       // Green
        'rgb(153, 0, 0)',       // Dark red
        'rgb(255, 178, 102)'   // Orange
    ],
        borderColor: '#FFF',
        hoverOffset: 4
    }]
};

    // Config
    const config = {
        type: 'doughnut',
        data: data,
        options: {
            responsive: true,
            legend: {
                display: true,
                labels: {
                    fontColor: "white",
                    fontSize: 16
                }
            },
            elements: {
                arc: {
                    borderWidth: 0
                }
            }
        }
    };

    // Chart
    var myPieChart = new Chart(
        document.getElementById('myPieChart'),
        config
    );

</script>

<!-- Line chart -->
<script>

    // Setup
    const line_data = {
        labels: {{ list_days | safe }},
        datasets: [
        {
            label: 'Pending',
            data: {{ pending_cumulated | safe }},
            borderColor: 'rgb(255, 178, 102)',
            borderWidth: 1,
            hoverOffset: 4            
        },
        {
            label: 'Out for delivery',
            data: {{ out_for_delivery_cumulated | safe }},
            borderColor: 'rgb(0, 204, 0)',
            borderWidth: 1,
            hoverOffset: 4   
        },
        {
            label: 'Delivered',
            data: {{ delivered_cumulated | safe }},
            borderColor: 'rgb(153, 0, 0)',
            borderWidth: 1,
            hoverOffset: 4   
        },        
    ]
    };

    // Config
    const line_config = {
        type: 'line',
        data: line_data,
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMax: 5
                    }
                }]
            }
        }
    };

    // Chart
    var myLineChart = new Chart(
        document.getElementById('myLineChart'),
        line_config
    );

</script>

</html>