<!-- Navigation bar -->

<!-- Tags -->
{% load static %}

<style>
  .hello-msg{
    font-size: 18px;
    color: white;
    margin-right: 20px;
  }
</style>

<!-- Template from getbootstrap.com -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <!-- image logo -->
  <a href="{% url 'home' %}">
    <img src="{% static 'images/logo.png' %}">
  </a>

  <!-- Text logo -->
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Filter is currently done on the is_staff attribute -->
        <!-- There should be a better way to do it -->
        {% if request.user.is_staff %}
        <li class="nav-item active">
          <!-- Checkout the Django tag to reference the url name in the urls file -->
          <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <!-- Checkout the Django tag to reference the url name in the urls file -->
          <a class="nav-link" href="{% url 'products' %}">Products</a>
        </li>
        {% endif %}
      </ul>
    </div>

    <span class="hello-msg">Logged in as <a href="{% url 'user_page' %}"><i>{{ request.user }}</i></a></span>
    <span><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>

  </nav>